html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: ghostwhite;
    margin: 0;
    font-family: Afacad, Arial, sans-serif;
}

header {
    background-color: white;
    width: 100%;
    height: 45px;
    box-shadow: 1px 2px 7px rgb(191, 196, 206);
    z-index: 99;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex
}

li {
    margin: -8px 15px;
}

big {
    font-size: 28px;
}

.clickable { cursor: pointer; }
#main { padding: 20px; }
main { min-height: 100% }

a, p, span, .user-header {
    text-decoration: none;
    color: grey
}

a:hover {
    color: crimson;
    transition: color 75ms linear;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none !important;
}

.page-header {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 8px;
}

.page-banner {
    width: 100%;
    height: 16vw;
    background: rgb(142, 139, 190);
    background: linear-gradient(355deg, rgba(142, 139, 190, 1) 0%, rgba(226, 226, 241, 1) 35%);
    position: relative;
}

.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    position: absolute;
    display: flex;
}

.searchbar-container { 
    margin: auto;
    max-width: 750px;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: flex;
}

input {
    border-radius: 50px;
    border: none;
    height: 35px;
    transition: box-shadow .7s ease-out;
    width: 100%;
    padding-inline: 35px 10px;
}

input::placeholder {
    font-family: Afacad, Arial, sans-serif;
}

#search-icon { 
    position: absolute; 
    margin-left: 10px; 
    color: gray;
    opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    -webkit-user-modify: read-write !important;
    height: 15px;
    width: 15px;
    margin: auto;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.5;
}

input:focus { outline: none; box-shadow: 1px 2px 7px rgb(191, 196, 206); }

.select-users {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 4px 0px 12px 0px;
    gap: 4px;
}

@media screen and (width < 600px) {
    .select-users {
        flex-direction: column !important
    }
    .page-banner {
        height: 100px;
    }
}

.nav-elements { display: block }
.hamburger { display: none; margin-top: 6px; position: relative; }
.hamburber-menu { display: none }
.icon { font-family: FontAwesome, Afacad; vertical-align: middle; opacity: 0.5; font-style: normal }

@media screen and (width < 428px) {
    .nav-elements { display: none !important }
    .hamburger { display: block !important }
    .hamburber-menu { display: block !important }
}

.select-user {
    display: flex; 
    flex-grow: 1; 
    justify-content: center; 
    text-align: center; 
    max-width: 100%; 
    align-items: center; 
    flex-direction: column;
    transition: box-shadow .7s ease-out;
    cursor:pointer;
}

.select-user .img-screen img {
    max-height: 200px;
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: transform .7s ease-out;
}

.select-user .img-screen {
    max-height: 200px;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.select-user .img-screen :hover {
    /* transform: scale(1.2); */
}

.select-user:hover {
    box-shadow: 1px 2px 7px grey;
}

.user-header {
    width: 100%;
    background-color: white;
}

.hamburber-elements {
    background-color: #ffffff;
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 1px 2px 7px grey;
    height: 70px;
    padding-top: 12px;
    position: absolute;
    right: 35px;
    li {
        border-bottom: 1px solid #f6f6f6;
    }
}